<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wcpe.wcpelib.model.mybatis.mapper.MapListMapper">
    <select id="existTable" resultType="Integer">
		select count(*)
		from
		information_schema.TABLES
		where
		LCASE(table_name)='wcpelib_map'
	</select>


    <update id="createTable">
		CREATE TABLE `wcpelib_map` (
		`key` varchar(255)
		NOT NULL,
		`value` varchar(255) NOT NULL,
		`index` varchar(255) NOT NULL
		);
	</update>

    <select id="get"
            resultType="String">
		select `value` from
		`wcpelib_map` where `key`= #{key} AND
		`index`= #{indexKey};
	</select>

	<select id="list"
			resultType="String">
		select `value` from
		`wcpelib_map` where `key` = #{key} AND
		`index`= #{indexKey};
	</select>


    <insert id="insert"
    >
		INSERT INTO
		`wcpelib_map`(`key`,
		`value`,`index`)
		VALUES (#{key},
		#{value},
		#{indexKey})
	</insert>
    <update id="update"
    >
		UPDATE `wcpelib_map` SET `key`
		=
		#{key},
		`value` =
		#{value},
		`index` = #{indexKey}
		WHERE
		`key`=#{key} AND `index` =  #{indexKey};
	</update>
    <update id="delete">
		delete from
		`wcpelib_map` where `key`=#{key} AND `index` = #{indexKey};
	</update>
</mapper>