<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wcpe.wcpelib.model.mybatis.mapper.WorldAliasMapper">


	<select id="existTable" resultType="Integer">
		select count(*) from
		information_schema.TABLES where
		LCASE(table_name)='wcpelib_worldalias'
	</select>

	<update id="createTable">
		CREATE TABLE `wcpelib_worldalias` ( `name`
		varchar(255) NOT NULL, `alias` varchar(255) NOT NULL, PRIMARY KEY
		(`name`));
	</update>
	<update id="dropTable">
		DROP table `wcpelib_worldalias`;
	</update>
	<select id="listWorldAlias" resultType="string">
		select name from `wcpelib_worldalias`
	</select>

	<select id="selectWorldAlias" parameterType="string"
		resultType="string">
		select alias from `wcpelib_worldalias` where name=#{name}
	</select>



	<update id="updateWorldAlias">
		UPDATE `wcpelib_worldalias` set
		name=#{name}, alias=#{alias} where name=#{name}
	</update>
	<insert id="insertWorldAlias">
		INSERT INTO `wcpelib_worldalias`(name, alias)
		values(#{name},#{alias})
	</insert>
	<update id="delWorldAlias">
		delete from `wcpelib_worldalias` where name=#{name}
	</update>
</mapper>